%html
  %head
    %title {Title}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,shrink-to-fit=no"}
    %link{rel: "stylesheet", href: "https://kaminski.io/assets/screen.css"}
  %body
    %header#tumblrheader
      %h1
        %a{href: "{BlogURL}"} {Title}
      %nav
        %h5 {Description} 
        %a{href: "https://kaminski.io"} My Website
        %a{href: "{RSS}"} RSS Feed
    %hr
    {block:Posts}
    {block:Text}
    %article.text
      %header
        %h2 
          {Title}
      .content {Body}
      %footer
        %p 
          Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year} - 
          %a{href: "{Permalink}"}Permalink 
    %hr
    {/block:Text}
    {block:Photo}
    %article.photo
      %figure{aria-labelledby: "photo{PostID}"}
        %img{src: "{PhotoURL-HighRes}", alt: "{PhotoAlt}"}
        %figcaption{id: "photo{PostID}"} {Caption}
    %footer
      %p 
        Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year} -
        %a{href: "{Permalink}"}Permalink 
    %hr
    {/block:Photo}
    {block:Link}
    %article.link
      %header
      .content
        {block:Host}
        %h2
          %a{target:"{Target}", href:"{URL}"}
            {Host}
        {/block:Host}
        {block:Description}
        %h5 {Description}
        {/block:Description}
      %footer
        %p 
          Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year} - 
          %a{href: "{Permalink}"}Permalink 
    %hr
    {/block:Link}
    {/block:Posts}
    %script{src: "https://kaminski.io/assets/modernizr.js"}
