%html
  %head
    %title {Title}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,shrink-to-fit=no"}
    %link{rel: "stylesheet", href: "https://kaminski.io/assets/screen.css"}
  %body.twocol
    %header#tumblrheader
      %h1
        %a{href: "{BlogURL}"} {Title}
      %h5 {Description} 
      %nav
        %a{href: "https://kaminski.io"} My Website
        %a{href: "{RSS}"} RSS Feed
    %hr
    {block:Posts}
    {block:Text}
    %article.text
      %header
        %h2 
          {block:IndexPage}
          %a{href: "{Permalink}"} {Title}
          {/block:IndexPage}
          {block:PermalinkPage}
          {Title}
          {/block:PermalinkPage}
      .content {Body}
      %footer
        %p Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year}
    %hr
    {/block:Text}
    {block:Photo}
    %article.photo
      %figure{aria-labelledby: "photo{PostID}"}
        %img{src: "{PhotoURL-HighRes}", alt: "{PhotoAlt}"}
        %figcaption{id: "photo{PostID}"} {Caption}
    %hr
    {/block:Photo}
    {/block:Posts}
    %script{src: "https://kaminski.io/assets/modernizr.js"}
